body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:137px;
}
#u188 {
  position:absolute;
  left:100px;
  top:100px;
  width:840px;
  height:137px;
}
#u189 {
  position:absolute;
  left:2px;
  top:60px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
